.about-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  gap: 40px;
}

.about-text {
  flex: 1;
}

.about-text h2 {
  font-size: 32px;
    margin-bottom: 15px;
    color: #91c851;
    font-weight: 700 !important;
}

.about-text p {
  font-size: 16px;
  line-height: 1.6;
}

.section-title{
    color:#91c851;
}
.about-image {
    flex: 1;
    min-width: 250px;
    padding:10px;
}

.about-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}
