

/* Footer */

.copyright {
    font-size: 14px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    color: #424242;
    height: 78px;
    position: relative;
}


/* Socialmedia */
.socialmedia {
    background-color: #217040;
    padding: 6% 0;
}

.scontent {
    display: flex;
    justify-content: space-around;
}

.scont {
    display: flex;
    gap: 10px;
    flex-direction: column;
    text-align: center;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
}

.scont i {
    color: #91c851;
    font-size: 25px;
}

.scont span {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    background-color: white;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.scont a,
.scont p {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.scont a:hover {
    color: #91c851;
}

.scont span:hover i {
    font-size: 30px;
}
