
/* header */
.contact {
    background-color: #217040;
    color: #FFFFFF;
}

.wrapper {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
}

.contact .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    height: 38px;
}

.number {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.number:hover {
    color: #91c851;
}

.contact a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 14px;
}

.contact .socialicons,
.cont .gap {
    display: flex;
    gap: 12px;
}

.contact .cont {
    display: flex;
    gap: 25px;
}

.cont a {
    align-items: center;
    justify-content: center;
}

.contact a:hover {
    color: #91c851;
}

/* Heaer main */
.headermain {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding:10px 0; */
}

.logo {
    margin: 10px 0;
}

.logo img {
    height: 80px;
    width: 80px;
}

.menus {
    display: flex;
    gap: 10px;
    margin:auto;
}

.menu a {
    padding: 10px 15px;
    text-decoration: none;
    font: 'Open Sans' 16px;
    color: #000000;
}

.menu .order a {

    background-color: #91c851;
    border-radius: 5px;
    color: #FFFFFF;
    text-align: center;
    border: none;
}

.menu li {
    display: flex;
    text-align: center;
    justify-content: center;
    list-style: none;
    align-items: center;
}

.menu li:hover a {
    color: #217040;
}

.menu .order:hover a {
    background-color: #217040;
    color: white;
}

.mobileview {
    display: none;
}

#menu-ctn {
    display: none;
}

.menu-bars img {
    height: 20px;
    width: 20px;
}
.login-btn{
    background-color: #91c851;
    color:#ffffff !important;
    border-radius: 10px;
    border:none;
}
.login-btn:hover{
    background-color: #217040;
    color:#ffffff;
}
.login-btn a{
        color:#ffffff !important;
}/* Hamburger Icon */
.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.menu-toggle span {
  width: 25px;
  height: 3px;
  background: #217040;
  margin: 4px 0;
  transition: 0.3s;
}

/* Mobile Styles */
@media (max-width: 768px) {
    .content,
.wrapper{
        padding: 0 20px;
}
.home-banner{
padding:40px 10px;
}
.service-container,
.about-container {
    gap:20px !important;
    flex-direction:column;
    padding:50px 20px !important;
}
    .cont span {
    display: none !important;
}
  .menu {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    background: #ffffff;
    display: none;
    flex-direction: column;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    z-index: 1000;
  }

  .menu.active {
    display: block;
  }

  .menus {
    flex-direction: column;
    padding: 20px 0;
  }

  .menu li {
    padding: 12px 0;
  }

  .menu-toggle {
    display: flex;
  }
}
