
/* === Service Section === */

.service-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0;
    gap: 40px;
}

.service-text {
    flex: 1;
}

.service-text h2 {
       font-size: 32px;
    margin-bottom: 15px;
    color: #91c851;
    font-weight: 700 !important;
}

.service-text p {
    color: #777;
    line-height: 1.6;
    font-size: 16px;
    text-align: justify;
}

.service-image {
    flex: 1;
    text-align: right;
}

.service-image img {
    max-width: 100%;
    border-radius: 10px;
}
p.no-record {
    text-align: center;
    padding: 50px 50px 30px 50px;
}