/* App.css */

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: block  !important;
}

.app-container {
  width: 95%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
}

h1 {
  text-align: center;
  
}

.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width:480px){
  .app-container{
    width:100%;
    max-width:320px;
  }
}